#app {
    width: 400px;
    height: 100vh;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
}

.art {
    width: 200px;
    height: 200px;
    align-items: center;
}

.sprite {
    width: 200px;
    height: 200px;
    align-items: center;
    outline-style: solid;
    outline: 2px;
}

.typeImage {
    margin: 5px;
    margin-bottom: 10px;
}